@media (min-width: 320px) and (max-width: 426px) {
  .MuiTableCell-root.card-responsive-container {
    width: 90vw;
  }
}
@media (min-width: 427px) and (max-width: 769px) {
  .MuiTableCell-root.card-responsive-container {
    width: 90vw;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .MuiCard-root.card-responsive-size {
    width: 90vw;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .MuiCard-root.card-responsive-size {
    width: 60vw;
    height: 80vh;
  }
}
